{{disabledDrag}}
<div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag [cdkDragDisabled]="disabledDrag"

       (mousedown)="onMouseDown($event)"
       (mouseup)="stopDragAndDrop()"
  >{{timePeriod}}</div>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
